<h1><%= user.userName %></h1>
<p>Patient: <%= user.isPatient %></p>
<p>Age: <%= user.age %></p>
<p>Address: <%= user.address %></p>
<a href="/users/<%= user._id %>/edit">Edit</a>
<form action="/users/<%= user._id %>?_method=DELETE" method="POST">
  <button type="submit">Delete</button>
</form>
<a href="/users">Back</a>
